<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <main>
        <div>
            TECHPARK
        </div>
        <div class="form-control">
            <form action="">
                <label for="username">username</label>
                <input type="text" id="inputField" name="inputField" placeholder="Enter your username" required>
            </form>
        </div>
        <div class="form-control">
            <form action="">
                <label for="password">password</label>
                <input type="text" id="inputField" name="inputField" placeholder="Enter your password" required>
            </form>
        </div>
        <div class="form-control">
            <form action="">
                <button>Login</button>
            </form>
    </main>
</body>
</html>