<%- include('./partials/header') -%>
<main>
    <h1>Welcome to the Student Portal</h1>
    <p>This is your Express + EJS project.</p>
    <div class="features">
        <% include('partials/feature') %>
    </div>
</main>
<%- include ('./partials/footer.ejs'); -%>