<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<body>
<header>
    <h1>LOGIN</h1>
    <p>
        this MY Contact App login page .
    </p>
      <p>
        Please login to continue.
    </p>
    <form>
    <label>Username</label>
    <
    </form>
</header>

    
</div>
<%- include ('./partials/footer.ejs'); -%>