<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TechPark</h1>
    <% if (user) { %>
        <h2>Hi <%= user.name %>,</h2>
    <% } %>
    <p>Please Search your course</p>
    <form method="get" action="/">
        <input type="text" name="search" placeholder="Search Course">
        <button type="submit">Search</button>
    </form>
    <ul>
        <% courses.forEach(function(course){ %>
            <li><%= course %></li>
        <% }); %>        
    </ul>
</body>
</html>